@model IEnumerable<Proyecto.Models.Rol>

@{
    ViewBag.Title = "Roles";
}

<h2>Roles</h2>

<p>
    @Html.ActionLink("Agregar nuevo rol", "Crear", "Rol", new { @class = "btn btn-primary" })
</p>
<div style="overflow-x:auto;">
    <table class="table table-striped text-center">
        <thead class="thead-dark">
            <tr>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.IdRol)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Descripcion)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Estado)
                </th>
                <th scope="col">
                    Accion
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdRol)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Estado)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Editar", new { id = item.IdRol }, new { @class = "btn btn-primary btn-sm" })
                        @Html.ActionLink("Detalle", "Detalle", new { id = item.IdRol }, new { @class = "btn btn-info btn-sm" })
                        @Html.ActionLink("Eliminar", "Eliminar", new { id = item.IdRol }, new { @class = "btn btn-danger btn-sm" })
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>