@model IEnumerable<Proyecto.Models.MateriaGrado>

@{
    ViewBag.Title = "Materia grados";
}

    <h2>Materia grados</h2>

<p>
    @Html.ActionLink("Agregar asignar materias según el grado", "Crear", "Grado", new { @class = "btn btn-primary" })
</p>
<div style="overflow-x:auto;">
    <table class="table table-striped text-center">
        <thead class="thead-dark">
            <tr>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.IdMateriaGrado)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.IdMateria)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.IdGrado)
                <th scope="col">
                    Accion
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdMateriaGrado)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdMateria)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdGrado)

                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Editar", new { id = item.IdMateriaGrado }, new { @class = "btn btn-primary btn-sm" })
                        @Html.ActionLink("Detalle", "Detalle", new { id = item.IdMateriaGrado }, new { @class = "btn btn-info btn-sm" })
                        @Html.ActionLink("Eliminar", "Eliminar", new { id = item.IdMateriaGrado }, new { @class = "btn btn-danger btn-sm" })
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>