@model IEnumerable<Proyecto.Models.Usuario>

@{
    ViewBag.Title = "Usuarios";
}

<h2>Usuarios</h2>

<p>
    @Html.ActionLink("Agregar nuevo usuario", "Crear", "Grado", new { @class = "btn btn-primary" })
</p>
<div style="overflow-x:auto;">
    <table class="table table-striped text-center">
        <thead class="thead-dark">
            <tr>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.IdUsuario)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.IdInstitucion)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.IdTipoIdentificacion)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Identificacion)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Apellido1)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Apellido2)
                </th>
               
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Telefono)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Direccion)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Correo)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.FechaNacimiento)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Estado)
                </th>
                <th scope="col">
                    Accion
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdUsuario)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdInstitucion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdTipoIdentificacion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Identificacion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Apellido1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Apellido2)
                    </td>                 
                    <td>
                        @Html.DisplayFor(modelItem => item.Telefono)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Direccion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Correo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaNacimiento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Estado)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Editar", new { id = item.IdUsuario }, new { @class = "btn btn-primary btn-sm" })
                        @Html.ActionLink("Detalle", "Detalle", new { id = item.IdUsuario }, new { @class = "btn btn-info btn-sm" })
                        @Html.ActionLink("Eliminar", "Eliminar", new { id = item.IdUsuario }, new { @class = "btn btn-danger btn-sm" })
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>
